/* =========================
   Landing Page
   Always Dark
========================= */

.landing-page {
  --bg-primary: #050505;
  --bg-secondary: #111214;
  --border-color: #232428;

  --text-primary: #FFFFFF;
  --text-secondary: #A1A1AA;

  --accent-primary: #7EF0C2;
  --accent-secondary: #57D9AC;

  --success: #22C55E;
  --warning: #F59E0B;
  --error: #EF4444;

  --shadow-card: 0px 10px 40px rgba(0, 0, 0, 0.25);
}




/* =========================
   Light Theme (Default)
========================= */
:root {
  /* Colors */
  --bg-primary: #F6F6F7;
  --bg-secondary: #FFFFFF;
  --border-color: #E5E7EB;

  --text-primary: #111827;
  --text-secondary: #6B7280;

  --accent-primary: #7EF0C2;
  --accent-secondary: #57D9AC;

  --success: #22C55E;
  --warning: #F59E0B;
  --error: #EF4444;

  /* Radius */
  --radius-sm: 12px;
  --radius-md: 16px;
  --radius-lg: 20px;
  --radius-xl: 24px;

  /* Shadows */
  --shadow-card: 0px 10px 40px rgba(0, 0, 0, 0.08);

  /* Container */
  --container-width: 1280px;
}

/* =========================
   Dark Theme
========================= */
html.dark {
  --bg-primary: #050505;
  --bg-secondary: #111214;
  --border-color: #232428;

  --text-primary: #FFFFFF;
  --text-secondary: #A1A1AA;

  --accent-primary: #7EF0C2;
  --accent-secondary: #57D9AC;

  --success: #22C55E;
  --warning: #F59E0B;
  --error: #EF4444;

  --shadow-card: 0px 10px 40px rgba(0, 0, 0, 0.25);

  --container-width: 1280px;
}